You observe the following after your actions:

{% if outcome %}
{% if outcome is iterable and outcome is not string %}
{% for tool_call in outcome %}
ACTION:
{{ tool_call.function.name }}

OBSERVATION: 
{{ tool_call.output }}

{% endfor %}
{% else %}
{{ outcome }}
{% endif %}
{% endif %}
Reflect on your actions and their outcomes. Think logically and thoroughly.
